@font-face {
  font-family: Follana;
  src: url("res/follana.woff");
}

body {
  background-color: #111111;
  color: #FFFFFF;
  font-family: Follana;
  margin: 0px;
  padding: 0px;
}

.website_topbar {
  background-color: #202020;
  margin: 0px;
  padding: 0px;
}

.homepage_redirector {
  padding: 10px;
}

.settings {
  padding: 10px;
  text-align: right;
}
