@font-face {
  font-family: Follana;
  src: url("res/follana.woff");
}

body {
  background-color: #111111;
  color: #FFFFFF;
  font-family: Follana;
}

.website_topbar {
  background-color: #202020;
  margin: 0px;
}
